body {
  background-color: tan; /* #ffb699;  cadetblue;  slategray;  wheat;  dimgrey; */
}

button { 
  /* Resetting, "clean slate" Resetting, clear out... */
  border: none;
  outline: none;
  cursor: pointer;
  /* Base State, The core look (box model) */
  background-color: rgba(0,0,0, 0.0); /*transparent black*/
  color : rgb(0,0,0);
  padding: 5px;
  display: inline;
  /*styling the text*/
  font-family: Ariel, sans-serif;
  font-size: 16px;
  /*font-weight:;*/
  text-align: left;
  transition: all 0.1s ease; /*makes changes smooth*/
  
  border : 1px solid rgba(0,0,0,0); /*transparent black*/
  border-radius: 2px; 
  border-bottom-width: 2px;  
  border-bottom-color: rgba(102, 153, 255, 0); /* transparent blue */

  margin-bottom:7px;
}

button:hover {
  color : rgb(0,0,0,0.90);
  background-color: rgb(0,0,0,0.035);
  border-bottom-color: rgb(72, 123, 255); /* darker blue; */
}

button:focus {
  outline: 3px solid rgb(0,0,0,0.27);
  border-bottom-color: rgb(72, 123, 255); /* darker blue; */
  background-color: rgb(0,0,0,0.05);
}

/*
.my-menu-btn:selected { /*for JavaScript
  border-bottom-color: rgb(72, 123, 255); /* blue; 
  background-color: rgba(255, 255, 255, 0.15);
}
*/


.item-div {
  margin-bottom: 4px;
}
.item-btn {
  margin-right: 5px;
}

.item-btn.fruits_veg {
  min-width: 25px;
}
.item-btn.guide {
  visibility: hidden;
}
.radio-btn-count-guide {
  display: none;
}
.counter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:;
  display: none;
  min-width: 15px;
  text-align: center;
  /* padding: 1px 4px;  */
  background-color: rgb(233, 233, 237);
  /*color: white; /* light gray:  rgb(233,233,237);  */
  border-radius: 4px;
  /* border-bottom: 1px solid gray;  } */
}

/* #s1-1c { min-width: 8px;
        background-color: white; } */
/* .item-btn:hover { border:1px solid rgb(0,0,0); } */
/* .item-btn:active {background-color: #d5d5dd;} */
h2 {
  font-size: 1.2rem; /* Or use other units like em, rem, or % */
}

.menu-title {
  font-size: 24px;
}
.section-title {
  display: inline-block;
}

.limit-within-section {
  width: 168px;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 3px;
}

.limit-hr {
  margin: 0;
  /* margin-top: 3px; */
}

.limit-of-text {
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 3px;
}

.reset-div {
  margin-top: 8px;
}
.reset-btn {
  cursor: pointer;
}
.radio-btn-count-guide {
  display: none;
}
.maximum_btn {
  min-width: none;
}
