body {
  background-color: tan; /* #ffb699;  cadetblue;  slategray;  wheat;  dimgrey; */
}

button {
  cursor: pointer;
  color : rgb(0,0,0);
  font-size: 16px;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: right;
  border : 1.25px solid rgba(0,0,0,0);
  border-bottom-style: solid;
  border-bottom-width: 1.25px;  padding: 5px;
  border-bottom-color: rgba(102, 153, 255, 0); /* blue; */
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 7px;
}

button:hover {
  border-bottom-style: solid;
  border-bottom-width: 1.25px;
  border-bottom-color: rgb(102, 153, 255); /* blue; */
}

.item-div {
  margin-bottom: 4px;
}
.item-btn {
  margin-right: 5px;
  padding: 2px 5px;
  cursor: pointer;
  min-width: 180px; /*
            border:1px solid rgb(143,143,157); border-radius: 9999px;
            background-color: rgb(233,233,237); */
}
.item-btn.fruits_veg {
  min-width: 25px;
}
.item-btn.guide {
  visibility: hidden;
}
.radio-btn-count-guide {
  display: none;
}
.counter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:;
  display: none;
  min-width: 15px;
  text-align: center;
  /* padding: 1px 4px;  */
  background-color: rgb(233, 233, 237);
  /*color: white; /* light gray:  rgb(233,233,237);  */
  border-radius: 4px;
  /* border-bottom: 1px solid gray;  } */
}

/* #s1-1c { min-width: 8px;
        background-color: white; } */
/* .item-btn:hover { border:1px solid rgb(0,0,0); } */
/* .item-btn:active {background-color: #d5d5dd;} */
h2 {
  font-size: 1.2rem; /* Or use other units like em, rem, or % */
}

.menu-title {
  font-size: 24px;
}
.section-title {
  display: inline-block;
}

.limit-within-section {
  width: 168px;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 3px;
}

.limit-hr {
  margin: 0;
  /* margin-top: 3px; */
}

.limit-of-text {
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 3px;
}

.reset-div {
  margin-top: 8px;
}
.reset-btn {
  cursor: pointer;
}
.radio-btn-count-guide {
  display: none;
}
.maximum_btn {
  min-width: none;
}
